<navbar></navbar>

<section class="dep">
  <h2 class="dep-head-text">Earth's biggest selection</h2>
  <div class="a-group-box">
    <a href="#" class="a-touch-link">Deals
      <i class="a-icon a-icon-touch"></i>
    </a>
    <a href="#" class="a-touch-link">Interesting Finds
      <i class="a-icon a-icon-touch"></i>
    </a>

    <div class="a-section-expander">
      <a href="#" aria-haspopup="true" class="a-touch-link" ng-click="$ctrl.expandView=!$ctrl.expandView" ng-class="{aTouchedLink: $ctrl.expandView}">Amazon Music
        <i class="a-icon a-icon-touch" ng-class="{aTouchedIcon: $ctrl.expandView}"></i>
      </a>
      <div class="a-expander-content" ng-class="{expanderShow: $ctrl.expandView}">
        <a href="#" class="a-touch-sublink">Test</a>
        <hr class="a-divider">
        <a href="#" class="a-touch-sublink">Test</a>
        <hr class="a-divider">
        <a href="#" class="a-touch-sublink">Test</a>
      </div>
    </div>
    <div class="a-section-expander">
      <a href="#" aria-haspopup="true" class="a-touch-link">Amazon Video
        <i class="a-icon a-icon-touch"></i>
      </a>
    </div>

  </div>
</section>
