<navbar></navbar>

<section class="dep">
  <h2 class="dep-head-text">Earth's biggest selection</h2>
  <div class="a-group-box">
    <a href="#" class="a-touch-link">Deals
      <i class="a-icon a-icon-touch"></i>
    </a>
    <a href="#" class="a-touch-link">Interesting Finds
      <i class="a-icon a-icon-touch"></i>
    </a>

    <div class="a-section-expander" ng-repeat="department in $ctrl.getDepartments">
      <a href="{{department.link}}" aria-haspopup="true" class="a-touch-link"
         ng-click="$ctrl.expandView[$index]=!$ctrl.expandView[$index]"
         ng-class="{aTouchedLink: $ctrl.expandView[$index]}">
        {{department.title}}<i class="a-icon a-icon-touch" ng-class="{aTouchedIcon: $ctrl.expandView[$index]}"></i>
      </a>
      <div class="a-expander-content" ng-class="{expanderShow: $ctrl.expandView[$index]}">
        <div ng-repeat="depText in department.text">
          <a href="#" class="a-touch-sublink">{{depText}}</a>
          <hr class="a-divider" ng-hide="$last===true">
        </div>
      </div>
    </div>
  </div>
</section>
